/* 
CSS - Cascading Style Sheet
*/

/* @import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap'); */ /* import Cabin font */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Sofia+Sans&display=swap'); /* import Cabin & Sofia font */


/* apply css reset */

*, * ::before, * ::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body { /* typographic tweaks */
  -webkit-font-smoothing: antialiased; 
}

img { /* improve media defaults */
  display: block;
  max-width: 100%;
}

/* start CSS here */

.container {
  background-color: rgba(46, 196, 181, 0.04);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  gap: 120px;
}

.col-1 {
  width: 460px;
  margin-top: 124px;
  font-family: 'Cabin', sans-serif;
}

.col-2 {
  width: 580px;
  /* height: 680px; */
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 50px 0 rgba(4, 8, 19, 0.1);
}

.col-2, .col-2 *, .col-2 *::before, .col-2 *::after {
  font-family: 'Sofia Sans', sans-serif;
}

img {
  width: 77px;
  margin-bottom: 50px;
}

.header-text {
  margin-bottom: 20px;
  font-size: 2.5rem; /* root font size = rem | by default is 16px = 1rem | 40px = 2.5rem || we use rem for accessibility */
  font-weight: 700;
  letter-spacing: -.8px;
  line-height: 1.25; /* line height in pixels is the ratio of font size divided by line height: 50px/40px = 1.25 */
  color: #000B0A;
}

.lead-text {
  font-size: 1rem;
  line-height: 1.5625;
  color: #737373;
}

.lead-text-2 {
  display: none; /* display [none] removes the content and the space */
  /* visibility: hidden; */ /* visibility removes the content but leaves the space */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* repeat(<how many times>, <value>) */
  grid-template-rows: repeat(3, 72px);
  grid-auto-rows: 72px;
  row-gap: 30px;
  column-gap: 24px;
  margin-bottom: 30px;
}

.grid-item-7, .grid-item-8 {
  /* grid-column-start: 1;
  grid-column-end: -1; */
  grid-column: 1 / -1;

}

/* DEVELOPER PRODUCTIVITY - SEPERATION OF CONCERNS */

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.grid-container input, .grid-container select {
  /* padding: 14px 16px 14px 16px; */ /* top right bottom left */
  padding: 14px 16px; /* top & bottom (or block values) | left & right (or inline values) */
  /* padding-block: 14px;
  padding-inline: 16px; */

  border: 1px solid #F0F0F0;
}

.grid-container input:active,
.grid-container input:focus,
.grid-container input:focus-within,
.grid-container select:active,
.grid-container select:focus,
.grid-container select:focus-within {
  outline: none;
  outline: 1px solid #2EC4B6;
  border-radius: 4px;
  box-shadow: 0 0 0 3px rgba(46, 196, 181, 0.1); /* x-offset | y-offset | blur | spread | color */
}

select {
  appearance: none;
  /* background-image: url("img/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 95% center; */
  background: url("img/dropdown.svg") 95% center no-repeat;
}


.btn {
  margin-bottom: 16px;
}

.col-2 p {
  text-align: center;
  font-size: .875rem;
  line-height: 1.786; /* this is the same as 25px (25px / font-size '14px') */
  font-weight: 500;
}

a {
  color: #2EC4B6;
}

button {
  width: 100%;
  padding-block: 16px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .2px;
  color: white;
  background-color: #2EC4B6;
  border: none;
  line-height: normal;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 200ms ease; /* all/'name of the element in change' - background-color | time in ms/s | transition effect - linear, ease, ease-in-out, ease-in, ease-out */
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.10);
}

button:hover {
  background-color: #011C34;
}



/* FONT STYLING IN CSS */
/* 
font weight - thin (300), normal/regular (400), semi-bold (500-600), bold (700), strong (800), black (900)
*/



.grid-container label {
  font-size: .875rem; /* this is the same as 14px */
  font-weight: 600;
  letter-spacing: .1px;
  color: #011C34;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  /* appearance: none; */
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

/* no need to hide the calendar icon because it's important for the data picker ui to work */
/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"] {
  background: url("img/date.svg") 95% center no-repeat;
} */

input[type="password"] {
  background: url("img/eye.svg") 96% center no-repeat;
}


/* BUILDING FOR MOBILE RESPONSIVENESS */

/* .row {
  flex-wrap: wrap;
} */

@media screen and (max-width: 1160px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 90%;
  }

  .grid-container {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .col-1 {
    width: auto;
    margin-top: unset;
  }

  .col-2 {
    width: 100%;
    padding: unset;
    background-color: unset;
    border-radius: unset;
    box-shadow: none;
  }

  .container {
    height: unset;
    padding-block: 30px 64px;
  }

  img {
    width: 39px;
    margin-bottom: 40px;
  }

  .header-text {
    font-size: 1.875rem;
  }

  .lead-text {
    display: none;
  }

  .lead-text-2 {
    display: block;
    font-size: 1rem;
    font-weight: light;
    line-height: 1.57;
  }

  form {
    padding: 24px 16px 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 50px 0 rgba(4, 8, 19, 0.1);
    margin-bottom: 24px;
  } 

  .col-2 p {
    line-height: 1.5625;
  }
}

